
<% include ./partials/header %>
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <!-- <span class="subheading">Learn-Build-Repeat</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Hello there! I am Harsh Fadnavis. I have a track record of bringing concepts to life, building product vision, defining product roadmaps aligned with business strategy, creating targeted set of feature requirements and collaborating with design and engineering teams to build products with agility. Most recently I founded a B2C tech start-up and launched Bubble Uno, a bestseller on Amazon Launchpad and reached over 10k users. Before that I held revenue responsibilities at India's first Unicorn, InMobi, and was instrumental in growing North America revenues by 500%. In between, I also spent some time with another startup and launched their mobile app (Mobdeeds - mobile pre-paid wallet) by defining key industry-first features, fully designing the UX and working with a lean team to launch and grow their userbase through organic and paid channels.</p>
                <p>Whatever I have learnt touches upon the entire product lifecycle and I constantly seek ways to further my learnings to improve myself as a Product Owner.</p>
                <p>I currently live in the beautiful Luxembourg City and am always available for a cup of coffee. Email me at "firstname".fad@gmail.com </p>
            </div>
        </div>
    </div>

    <hr>

<% include ./partials/footer %>
