
<% include ./partials/header %>
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/rodrigo-soares-250630.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">Learn-Build-Repeat</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Hello there! I am Harsh, a technology enthusiast and a life-long learner</p>
                <p>I have held revenue/growth responsibilities (B2B Sales, Business Development) across Bangalore and London. Most recently, I was running my own tech start-up, where I experienced building and launching a product that reached over 10k users. I am an Engineer + MBA by education and love a bit of programming when I get time</p>
                <p>I hope to document my ongoing learnings here and my views on technology and products. Thanks for visiting! </p>
            </div>
        </div>
    </div>

    <hr>

<% include ./partials/footer %>
