
<% include ./partials/header %>
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">Learn-Build-Repeat</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Hello there! I am a technology enthusiast and consider myself a life-long learner. I have some experience building and launching products</p>
                <p>After Business School, I held revenue/growth related responsibilities at InMobi across Bangalore and London. Most recently, I was running my own tech start-up, where I learnt a few nuances around Product Management</p>
                <p>I hope to document some of my learnings here and my views on technology and products. Thanks for visiting! </p>
            </div>
        </div>
    </div>

    <hr>

<% include ./partials/footer %>
